[submodule "lib/glfw"]
    path = lib/glfw
    url = https://github.com/glfw/glfw.git
    branch = master
[submodule "lib/bullet"]
    path = lib/bullet
    url = https://github.com/bulletphysics/bullet3.git
    branch = master
